@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d9cdf7;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  overflow: hidden;
  padding: 0 24px;
}
